body {

    margin: 0;
    padding: 0;
    text-align: center; 
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
    /* background-color: antiquewhite; */
    background: linear-gradient(45deg, green, yellow);

}

.ecran {

    background-size: cover; /*supprimer les trois pour avoir tout au centre et mettre .ecran en body*/
    width : 100%;
    height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center;

}

.cadre {

    width: 90%;
    max-width: 440px;
    color:black;
    text-align: center;
    padding:50px 30px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);

}

.cadre img {

    width: 200px;
    border-radius: 50%;

}

.cadre p {

    font-size: 20px;
    font-weight: 400px;
    margin: 10px auto; 
    max-width: 330px;

}

.cadre .image img {

    width:200px;
    border-radius:50%;
    margin:10px 50px;

}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img {

    size: 100%;

}