body {
    margin: 0;
    background: rgb(44, 44, 44);
    color: white;
  }

.material-symbols-outlined {

  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  
}

.flexbox {

  display: flex;
  border:solid 1px;
  border-radius: 10px;

}

.item {

  margin: 8px;
  text-align: center;

}

#first-item {

  text-align: center;

}

.cadre {

  width: 500px;

  height: 500px;

  border: solid 1px #000000;

  border-radius: 10pw;

  overflow-y: scroll;

}

.space {

  padding-top: 10px;

  padding-bottom: 10px;

}